@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.homepage-wrapper {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


.bg {
  /* The image used */
  background-image: url("src/assets/img/HomepageBG.jpeg");
  /* Full height */
  height: 100%;
  width: 100%;
  left: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
